@page "/Examples"

<PageTitle>Example prompts</PageTitle>

<h1>History test 1</h1>
<p>Hi I am Michal. What is Your name?</p>


<h1>History test</h1>
<p>Deamit I've forgot what is my name again. Do you know who I am?</p>


<h1>Simple prompt</h1>
<p>
    I need go to bank tomorrow. After that I should go grocery shopping.
</p>

<h1>Complex prompt</h1>
<p>
    Hey Alex,

    I hope you're doing well. As we approach the date for our annual tech conference, there are a few things I wanted to touch base on.

    Firstly, regarding the keynote speakers, I've managed to secure Dr. Jane Smith from Tech Innovations Inc. However, we still need to finalize the list of topics they'll be covering.<b> Perhaps You and Ted could brainstorm some ideas by the end of this week</b>? <b>Can we sync on that later this week? I'm thinking Friday, around 3 PM</b>, should give you ample time.

    Secondly, the venue logistics seem to be in order, but I've heard from the team that there might be some issues with the audio-visual equipment.<b> Can you call the AV team and ensure everything's up to par</b>? Ideally, we should have this sorted by next Wednesday, considering the rehearsals are the following day. It might take about 2 hours to thoroughly check everything.

    The marketing materials are still in the design phase.<b> I was hoping you could review the drafts and send feedback to me.</b> The designers mentioned they'd need at least three days to incorporate any changes, so if we can wrap this up by Monday, that would be great.

    <b>Lastly, we haven't decided on the catering yet. I've shortlisted a couple of options, but I'd appreciate your input.</b> Let's aim to finalize this by the 15th? It should take us about an hour to go through the menus and make a decision.

    Thanks for all your hard work, Alex. Looking forward to a successful conference!

    Best,
    Jordan
</p>
